<!-- <input type="text" placeholder="Enter a value" [(ngModel)]="data" />
<p>{{ data }}</p> -->

<div class="imageList">
  <img
    src="meme (1).jpg"
    (click)="handleImgClick('meme (1).jpg')"
    alt="meme image"
  />
  <img
    src="meme (2).jpg"
    (click)="handleImgClick('meme (2).jpg')"
    alt="meme image"
  />
  <img
    src="meme (3).jpg"
    (click)="handleImgClick('meme (3).jpg')"
    alt="meme image"
  />
  <img
    src="meme (4).jpg"
    (click)="handleImgClick('meme (4).jpg')"
    alt="meme image"
  />
  <img
    src="meme (5).jpg"
    (click)="handleImgClick('meme (5).jpg')"
    alt="meme image"
  />
  <img
    src="meme (6).jpg"
    (click)="handleImgClick('meme (6).jpg')"
    alt="meme image"
  />
  <img
    src="meme (7).jpg"
    (click)="handleImgClick('meme (7).jpg')"
    alt="meme image"
  />
  <img
    src="meme (8).jpg"
    (click)="handleImgClick('meme (8).jpg')"
    alt="meme image"
  />
  <img
    src="meme (9).jpg"
    (click)="handleImgClick('meme (9).jpg')"
    alt="meme image"
  />
</div>
<div class="box">
  <div class="left">
    <p>Memes Generator</p>
    <input type="text" placeholder="Enter URL of Image" [(ngModel)]="imgUrl" />
    <input type="text" placeholder="Enter name" [(ngModel)]="iniName1" />
    <input type="text" placeholder="Enter name" [(ngModel)]="iniName2" />
    <div class="row">
      <button (click)="handleSubmit()">Submit</button>
      <button [disabled]="isDisable" (click)="handleClrClick()">Reset</button>
    </div>
    <hr />
    <button (click)="downloadMeme()">Download</button>
  </div>
  <div class="right">
    <div class="meme" id="meme">
      <p>{{ name1 }}</p>
      <img [src]="imgUrl1" alt="Image" />
      <p>{{ name2 }}</p>
    </div>
  </div>
</div>
